* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-box {
  display: flex;
}

.col-box {
  flex-direction: column;
}

.hero-section {
  height: 96vh;
}

#offcanvasNavbarDropdown-expand-one:hover,
#offcanvasNavbarDropdown-expand-two:hover,
#offcanvasNavbar-link-three:hover,
#offcanvasNavbar-link-four:hover,
#right-nav-link:hover {
  background-color: transparent;
  border: 1.5px solid #ccc;
  border-radius: 0.6em;
}

.main-content {
  padding: 2em 8em;
  flex-grow: 1;
}

.text-wrapper {
  flex-basis: 50%;
  justify-content: space-evenly;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 0.4em;
  line-height: 70px;
  margin-bottom: 0.4em;
}

.hero-text {
  width: 440px;
  font-size: 1.1em;
  font-weight: 380;
  margin-bottom: 1.5em;
}

.hero-button {
  font-size: 1.2rem;
  padding: 0.6em 1.5em;
  color: white;
  background-color: black;
}

.clients {
  padding: 0 7em 0 0;
  justify-content: space-between;
}

.image-wrapper {
  flex-basis: 50%;
  position: relative;
}

.image-wrapper img {
  position: absolute;
  object-fit: center;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
}

.orange {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 0;
  margin-bottom: 5em;
}

/* Mobile View */
@media screen and (max-width: 950px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .text-wrapper {
    width: 100%;
    padding: 20px;
  }

  .image-wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .hero-title, .hero-text, .clients {
    margin: 0;
    padding: 0;
  }
}